<div class="container about mx-auto">
  <p class="about">Hand to heart provides a platform that connects aid groups with help providers and contractors for long-term recontruction efforts after a natural disaster hits.</p>
</div>
